body{
	/*min-width: 800px;*/
}
.pd{
	padding: 100px;
}
/*导航子集*/
nav i{
	display: inline-block;
	width: 0;
	border: 6px solid ;
	border-color:#666 transparent transparent;
	position: absolute;
	margin: 18px 0;
}
/*产品轮播图*/
.lunbo{
	position: fixed;;
	top: 0;left: 0;right: 0;bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 999;
	display: none;
}
.lunbo .lunbo-main{
	position: absolute;
	display: inline-block;
	top: 0;left: 0;right: 0;bottom: 0;
	margin: auto;
	width: 50%;
	height: 75%;
	background: white;
}
.lunbo .lunbo-main .result{
	width: 30px;
	height: 30px;
	float: right;
	background: url(../images/icons/close.png) no-repeat center center;
	background-size: cover;
}
.lunbo .lunbo-main .left,.lunbo .lunbo-main .right{
	position: absolute;
	top: 45%;
	width: 40px;
	height: 60px;
	background-size: cover;

}
.lunbo .lunbo-main .left{
	background:#009ee3 url(../images/icons/left.png) no-repeat center center;
	left: 0;
}
.lunbo .lunbo-main .right{
	background:#009ee3 url(../images/icons/right.png) no-repeat center center;
	right: 0;
}

/*浮动特效*/
.fu-1{
	position: relative;
	top: 20px;
	opacity: 0;
}
.fu-2{
	position: relative;
	top: -10px;
	opacity: 0;
}
.fu-3{
	position: relative;
	left: -20px;
	opacity: 0;
}
.fu-4{
	position: relative;
	right: -20px;
	opacity: 0;
}
.fu-5{
	position: relative;
	left: -20px;
	opacity: 0;
}
/*背景图*/
.backg{
	position: fixed;
	top: 0;left: 0;right: 0;bottom: 0;
	min-width: 900px;
	background: url(../images/slider.jpg) no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: 0.5;
}
/*导航*/
nav{
	position: fixed;
	top: 0;left:0;right: 0;
	padding: 10px 50px;
	background: white;
	height: 45px;
	z-index: 100;
}
nav img{
	height: 70%;
	vertical-align: bottom;
}
nav .nav{
	float: right;
}
nav .nav>li{
	padding: 0 20px;
	float: left;
	line-height: 45px;
	position: relative;
}
nav .nav li>a{
	color: black;
	font:15px '微软雅黑';
}
nav .nav li:hover>a{
	color: #02bdd5;
}
nav .nav .n-a{
	position: absolute;
	padding: 0 6px;
	width: 160px;
	line-height: 30px;
	opacity: 0;
	visibility: hidden;
	background: black;
	transition: all 1s;
}
nav .nav .n-a a{
	color: white;
	font-size: 12px ;
}

/*头部*/
header{
	padding: 100px;
	/*border: 2px solid red;*/
	min-width: 800px;
	text-align: center;
	box-shadow: 0 2px 3px 0 #666;
}
header h1{
	font:30px '微软雅黑';
	color: #666;
	padding: 100px 0 0;
}
header h2 .span{
	display: inline-block;
	line-height: 40px;
	height: 50px;
	overflow: hidden;
	/*padding: 0 30px;*/
}
header h2 .span span{
	font:30px/1.2 '微软雅黑';
	color:#02bdd5;
	line-height: 40px;
	display: none;
	position: relative;
}
header h3{
	width: 800px;
	margin: 0 auto;
	color: #666;
	font:100 16px '微软雅黑';
}
header .btn{
	width: 150px;
	line-height: 45px;
	background: #414141;
	color: white;
	margin: 100px auto;
}
header .btn a{
	line-height: 45px;
	color: white;
	font-size: 16px;
}

.main{
	padding: 100px;
	/*box-sizing: border-box;*/
	min-width: 800px;
	background: white;
}
.main section{
	padding:50px;
	overflow: hidden;
}
.main section article{
	width:45%;
	float:left;
}
.main section article h1{
	font: bold 25px '微软雅黑';
	padding-bottom: 30px;
	color: #666;
}
.main section article p{
	font:100 16px '微软雅黑';
	margin-bottom: 20px;
	color: #888;
}
.main section img{
	width:45%;
	float: right; 
}

.main .production{
	padding-top: 100px;
	box-sizing: border-box;
	text-align: center;
	/*background: #ffe;*/
}
.main .production h1{
	font:100 25px '微软雅黑';
	color: #666;
	margin-bottom: 30px;
}
.main .production p{
	font:16px '微软雅黑';
	color: #999;
	width: 800px;
	margin: 0 auto;
}
.main .production .pro-m .pro-mli{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
}
.main .production .pro-m .pimg{
	width: 30%;
	margin-bottom: 20px;
	box-shadow: 0 1px 3px 0 #999;
}
.main .production .pro-m .pimg .img-p{
	width: 100%;
	padding: 45% 0;
	position: relative;
	transition: background 0.5s;
}
/*production遮罩*/
.production .pimg .img-p .zz{
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
}
.production .pimg .img-p .zz .demo{
	display: inline-block;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	margin: auto;
	cursor: pointer;
	height: 30px;
	color: white;
	font: 16px '微软雅黑';
	text-align: center;
}
.production .pimg .img-p .zz .demo span{
	display: inline-block;
	border: 1px solid white;
	margin: 0 10px;
	/*width: 80px;height: 30px;*/
	padding: 8px 10px;
	color: white;
	font: 16px '微软雅黑';
	line-height: 30px;
	text-align: center;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: transform 1s;
}


.main .production .pro-m .pimg img{
	width: 100%;
}
.main .production .pro-m .pimg .pname{
	padding: 10px;
}
.main .production .pro-m .pimg .pname h4{
	font:bold 16px '微软雅黑';
	color:#02bdd5;
}
.main .production .pro-m .pimg .pname h5{
	font: 15px '微软雅黑';
	color:#666;
}


/*业务相关*/
.main  .offer{
	padding-top: 100px;
	text-align: center;
}
.main .offer h1{
	font:100 25px '微软雅黑';
	color: #666;
	margin-bottom: 30px;
}
.main .offer h2{
	font:16px '微软雅黑';
	color: #999;
	width: 800px;
	margin: 0 auto;
}
.main .offer .offer-fl{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 30px 0;
}
.main .offer .offer-fl .icon{
	width: 30%;
	text-align: left;
	margin: 20px 0;
}
.main .offer .offer-fl .icon img{
	vertical-align: top;
	vertical-align: middle;
	width: 30%;
	/*margin-left: 20px;*/
}
.main .offer .offer-fl .icon .icon-con{
	display: inline-block;
	width: 60%;
	padding: 0 0 0 10px;
	vertical-align: middle;
	/*border: 1px solid red;*/
}
.main .offer .offer-fl .icon .icon-con h3{
	font: 16px '微软雅黑';
	text-align: left;
	color: #666;
}
.main .offer .offer-fl .icon .icon-con p{
	font: 13px '微软雅黑';
	text-align: left;
	color: #888;
}
.ythink{
	padding:80px 100px;
	min-width: 800px;
	background: #02bdd5;
	text-align: center;
}
.ythink h1{
	font: 30px '微软雅黑';
	width: 800px;
	margin: 0 auto;
	color:white;
}
 .ythink p{
	font: 16px '微软雅黑';
	width: 800px;
	margin: 30px auto;
	color:white;
}
.ythink .contact{
	width: 150px;
	height: 45px;
	background:white;
	color:#02bdd5;
	font:16px '微软雅黑';
	line-height: 45px;
	margin: 100px auto 0;

}
.ythink .contact a{
	color: #02bdd5;
}

footer{
	min-width: 800px;
	background: white;
	padding:20px 100px;
	overflow: hidden;
}
footer h3{
	font: 15px '微软雅黑';
	color: #888;
	float: left;
	line-height: 30px;
}
footer .fx {
	float: right;
	margin-right: 100px;
}
footer .fx li{
	float: left;
	margin: 0 10px;
}